body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:darkslategrey;
}

.container{
    background-color: grey;
    padding: 5px;
    border-radius: 2rex;
}

#calculator{
    /* height: 30px; */
    width: 10px;
    justify-content: space-evenly;
    text-align: center;
}

button{
    width: 20px;
    padding: 20px 40px;
    margin: 1px;
    color: white;
    background-color: rgb(66, 71, 64);
    font-size: 20px;
    border-radius: 1rex;
    transition: 1s transform linear;
}
button:hover{
    background-color: rgb(91, 96, 96);
}

#inputArea .input{
    width: 97%;
    height: 40px;
    /* padding-bottom: 20px; */
    font-size: 20px;
    margin-top: 50px;
    border-radius: 2rex;
}

.equal{
    background-color: aqua;
    color: black;
}